<div class="center hero-unit">
  
	<iframe src="http://player.vimeo.com/video/63068818" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/63068818"></a>.</p>

  <h1>Create Clean Energy</h1>

  <h2>Want to create a clean energy project in your neighborhood today? Sign up!</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success" %>
</div>