<div class="center hero-unit">
  <h1>Create Clean Energy</h1>

  <h2>Want to create a clean energy project in your neighborhood today? Sign up!</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>