$navbarBackgroundHighlight: #3BB9FF;
$navbarBackground: #38ACEC;
$btnPrimaryBackground: #4AA02C;
$btnLinkColorHover: #ffffff;
$navbarLinkColor: #ffffff;
$navbarLinkColorHover: #ADDFFF;
$navbarLinkBackgroundActive: none;
$navbarLinkColorActive: #ffffff;
$navbarHeight: 35px;
$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

@import 'bootstrap';
body{
    padding-top: 60px;
}

@import 'bootstrap-responsive';

/*--Header--*/

.navbar{
  margin-bottom: none;
}

.nav .pull-right{
  margin-bottom: none;
}

.pull-right > li{
  margin: 4px 0px;
}

.navbar .brand {
  margin-left:10px;
  padding:0px 30px;
  text-shadow: none;
}

.submit_btn{
  padding: 0px 0px;
  a{
    color: #ffffff;
  }
}

.vertical-divider {
  width: 1px;
  height: 110%;
  margin: 5% 0 5% 0;
}





/* footer */

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

.footer a {
  color: #555;
  a:hover { 
  color: #222;
  }
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 10px;
  text-align: center;
}




/*--Landing Page Hero Unit--*/

.landingpage_body { 
  background: url(sunflowers.jpg) no-repeat center center fixed;
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%; 
}

.hero-unit{
  background-color: transparent;
  h1{
    color: #ffffff;
    font-size: 300%;
    line-height:110%;
    text-shadow: black 1px 1px 1px;
    text-align:center;
  }
  h2{
    color: #ffffff;
    font-size: 350%;
    line-height:120%;
    text-shadow: black 1px 1px 1px;
  }
  .wrapper {
    text-align: center;
  }
  .btn{
    font-size: 200%;
    padding: 20px 20px 20px 20px;
    text-shadow: black 1px 1px 1px;
    background-color:#4AA02C;
  }
}



